.git
.idea
.vscode
*.md
/.github
/3rdparty/btfhub
/3rdparty/btfhub-archive
/3rdparty/btfhub-archive/*
/3rdparty/btfhub/*
/data
/dist
/dist/*
/images
/images
/out
/tmp
/tmp
3rdparty/btfhub*
debug
debug
Dockerfile
Dockerfile*
target
