[submodule "3rdparty/zstd"]
	path = 3rdparty/zstd
	url = https://github.com/facebook/zstd.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "3rdparty/elfutils"]
	path = 3rdparty/elfutils
	url = git://sourceware.org/git/elfutils.git
[submodule "github.com/libbpf/libbpf"]
	path = 3rdparty/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "github.com/parca-dev/testdata"]
	path = test/testdata
	url = https://github.com/parca-dev/testdata
