.idea
/goreleaser
/dist
/tmp
/out
/bin
*.bpf.o
TODO.md
minikube-*
/data

# Development host specific files:
vmlinux.h

# Snap Packaging Artifacts
*.snap
snap/local/parca-agent
snap/local/metadata.json

# kernel test stuff
kerneltest/*.test
kerneltest/initramfs.cpio
kerneltest/logs/vm_log_*.txt
kerneltest/kernels/linux-*.bz

# direnv / Nix
.direnv
.envrc
result*
