.idea
/goreleaser
/dist
/target
/tmp
/out
/bin
*.bpf.o
TODO.md
minikube-*
/data

# Snap Packaging Artifacts
*.snap
snap/local/parca-agent
snap/local/metadata.json

# kernel test stuff
test/kernel/cpu.test
test/kernel/initramfs.cpio
test/kernel/logs/vm_log_*.txt
test/kernel/kernels/linux-*.bz

# Nix
result*

# debug logs
*.log
*.plan
*.token
