relabel_configs:
- source_labels: [__meta_process_executable_name]
  target_label: exec
  action: replace
- source_labels: [__meta_process_executable_compiler]
  target_label: compiler
  action: replace
