apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: "$name"
  namespace: "$namespace"
  annotations:
    marketplace.cloud.google.com/deploy-info: '{"partner_id": "polar-signals-public", "product_id": "parca-agent.endpoints.polar-signals-public.cloud.goog", "partner_name": "Polar Signals Inc."}'
  labels:
    app.kubernetes.io/name: "$name"
spec:
  descriptor:
    type: parca-agent
    version: '0.44.0'
  selector:
    matchLabels:
      app.kubernetes.io/name: "$name"
  componentKinds:
  # The group is determined from the apiVersion: $GROUP_NAME/$VERSION
  - group: apps
    kind: DaemonSet

