name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  goreleaser:
    name: Goreleaser Dry
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy

      - name: Set up Rust Nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly

      - name: Rust Cache
        uses: Swatinem/rust-cache@v1.3.0

      - name: Run eBPF toolchain setup
        run: |
          make -C bpf setup
          cd bpf && cargo check

      - name: Install llvm
        run: sudo apt-get update -y && sudo apt-get install llvm libelf-dev

      - name: Initialize and update libbpf submodule
        run: git submodule init && git submodule update

      - name: Build eBPF
        run: make bpf

      - name: Set Env
        run: echo "BPF_OUT=$(pwd)/dist" >> $GITHUB_ENV

      - name: Validate
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: check

      - name: Dry Run
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist --skip-validate --skip-publish
        env:
          # BPF_OUT: ${{ env.GITHUB_WORKSPACE }}/dist
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  go-build-test:
    name: Go Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy

      - name: Set up Rust Nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly

      - name: Rust Cache
        uses: Swatinem/rust-cache@v1.3.0

      - name: Run eBPF toolchain setup
        run: |
          make -C bpf setup
          cd bpf && cargo check

      - name: Install llvm
        run: sudo apt-get update -y && sudo apt-get install llvm libelf-dev

      - name: Install golangci-lint
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.45.0

      - name: Install gofumpt
        run: go install mvdan.cc/gofumpt@latest

      - name: Initialize and update libbpf submodule
        run: git submodule init && git submodule update

      - uses: actions/cache@v3
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          # * Build cache (Mac)
          # * Build cache (Windows)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Test
        run: make bpf test vet lint

      - name: Format
        run: |
          make format
          git diff --exit-code

      - name: Build
        run: make build

      - name: Archive generatated artifacts
        uses: actions/upload-artifact@v3
        with:
          name: parca-agent-dist
          if-no-files-found: error
          path: |
            dist
            !dist/libbpf
            !dist/*.txt
