name: Documents

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Set up Rust
        run: |
          rustup set profile minimal
          rustup component add rustfmt clippy

      - name: Rust Cache
        uses: Swatinem/rust-cache@v1.4.0

      - name: Install LLVM and libbpf dependencies
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          echo -e "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-14 main\n" | sudo tee /etc/apt/sources.list.d/llvm.list
          sudo apt-get update -y
          sudo apt-get install -yq llvm-14-dev libclang-14-dev libelf-dev

      - name: Run eBPF toolchain setup
        run: |
          make -C bpf setup
          cd bpf && cargo check

      - name: Initialize and update libbpf submodule
        run: git submodule init && git submodule update

      - name: Set up Jsonnet
        run: ./env.sh

      - name: Build
        run: make bpf build

      - name: Docs check
        run: |
          make README.md
          git diff --exit-code ':!deploy'
