name: Documents

on:
  push:
    branches:
    - main
    - release-*
  pull_request:
    branches:
    - main
    - release-*

jobs:
  skip-check:
    name: Skip check
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip-check.outputs.should_skip }}
    permissions:
      actions: write
      contents: read
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@12aca0a884f6137d619d6a8a09fcc3406ced5281 # v5.3.0
        with:
          do_not_skip: '["schedule", "workflow_dispatch"]'
          paths: |-
            [
              ".github/workflows/docs.yml",
              ".go-version",
              "Makefile",
              "cmd/parca-agent/main.go",
              "docs"
            ]
          skip_after_successful_duplicate: false

  docs:
    name: Generate documentation
    needs: skip-check
    if: ${{ needs.skip-check.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0

      - name: Set up Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version-file: .go-version
          cache: true

      - name: Set up Clang
        uses: KyleMayes/install-llvm-action@ef175530927af66c61e4e8da4fea4e15de63f780 # v1.7.0
        with:
          version: "14"

      - name: Install libbpf dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -yq libelf-dev zlib1g-dev

      - name: Initialize and update libbpf submodule
        run: git submodule init && git submodule update

      - name: Build BPF
        run: make bpf

      - name: Install BTFGen Dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -yq rsync

      - name: Create BTFHub Cache Key
        run: |
          (cd "./3rdparty/btfhub" && git rev-parse HEAD > ../.btfhub_head)
          (cd "./3rdparty/btfhub-archive" && git rev-parse HEAD >> ../.btfhub_head)

      - name: Set up BTFHub cache
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # tag=v3.0.11
        with:
          path: |
            "./3rdparty/btfhub"
            "./3rdparty/btfhub-archive"
          key: btfhub-${{ runner.os }}-${{ hashFiles('3rdparty/.btfhub_head') }}
          restore-keys: |
            btfhub-${{ runner.os }}

      - name: Generate BTF
        run: make btf

      - name: Set up Jsonnet
        run: ./env-jsonnet.sh

      - name: Set up environment
        run: ./env.sh

      - name: Build
        run: make build

      - name: Docs check
        run: |
          make README.md
          git diff --exit-code ':!deploy'

      # Even though pre-commit is not involved here,
      # we re-use the pre-commit.ci lite app as a
      # generic solution to commit changes
      - name: 'pre-commit-ci-lite: Apply automatic fixes'
        uses: pre-commit-ci/lite-action@2529d76d2c5ffdf2a85aa090c38949eada94d39d # v1.0.1
        if: always()
